table{
    margin: auto auto;
    border: 4px solid black;
    border-radius: 6px;
    padding: 10px;
    
}
td{
    padding: 5px;
}
input:hover{
    border-radius: 5px;
    border: 2px solid rgb(36, 32, 32);
}
tr:nth-child(odd){
    background-color: aquamarine;
    border: 2px double rgb(78, 187, 14);
    padding: 1px;
    margin: 1px 3px;
}
td:nth-child(odd){
    font-weight: bold;
    color: blueviolet;
    text-shadow: -2px 3px 5px black; 
}